<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Online Slides</title>
</head>
<body>
  <h1>Online Slides</h1>
  <input type="number" id="viewerId">
  <button id="go">GO</button>
  <script>
    const goButton = document.getElementById('go');
    goButton.onclick = () => {
      const id = document.getElementById('viewerId').value;
      window.location.replace(`/${id}`)
    }
  </script>
</body>
</html>